Body {
    background-image: url('./hom.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
    Font-family: Arial, sans-serif;
    Margin: 0;
    Padding: 0;
}
Header {
    Background-color: #4CAF50;
    Color: white;
    Text-align: center;
    Padding: 16px 7px;
}
Nav {
    Display: flex;
    justify-content: space-between;
    Background-color: #333;
    flex-wrap: wrap;
}
Nav a {
    Color: white;
    Padding: 14px 20px;
    Text-decoration: none;
    Text-align: center;
}
Nav a:hover {
    Background-color: #ddd;
    Color: black;

}
main .pick{}
 .pick{
    background-color: #80ac1a;
    border-radius: 10px;
    font-family:san;
    font-style: italic;
    font-size: 20px;
    color: #000000;
    padding: 10px;
    margin: 10px;
    margin-top: 0%;
    text-align: center;
    text-decoration: underline;
}
section .pan{}
.pan{
    background-color: #a74517;
    border-radius: 10px;
    font-family:san;
    font-style: italic;
    font-size: 20px;
    color: #000000;
    padding: 50px;
    margin: 10px;
    margin-top: 0%;
}

#mama{
    height: 300px;
    width: 200px;
    border-radius: 30px;
}


.div{
    Background-color: #282c34;
    Color: #ffffff;
    Text-align: center;
    Padding: 20px;
    
    Bottom: 0;
    Width: 100%;
}
.div h3 {
    Margin: 0;
    Font-size: 1.5em;
}
.div p {
    Margin: 5px 0;
    Font-size: 0.9em;
}
.div a {
    Color: #61dafb;
    Text-decoration: none;
}
.div a:hover {
    Text-decoration: underline;
    background-color: #07581b;
    color:#ddd;
}
